.deps
.dirstamp
.test/.dirstamp
Config
autom4te.cache
config.log
configure
Makefile
doc/*.dvi
doc/*.aux
doc/*.toc
doc/*.log
doc/*.out
doc/*.spl
doc/*flymake*
doc/auto/*
*.lo
*.x 
*.o
.libs
def.lo
*.la
Makefile.in
install-sh
missing
config.status
*.*~
gaugeUn.x
libtool
higher.x
rpvneut.x
rpvsoftsusy.x
softpoint.x
softsusy.x
scansusy.x
cmsdilep.x
scansusy_slha.x
softsusy-nmssm.x
aclocal.m4
m4/*
benchmarks/*.spec
doc/*.ps
doc/*.spl
doc/*.out
doc/*-converted-to.pdf
doc/auto/*
doc/*.bbl
doc/*.blg
src/two_loop_thresholds/bquark_corrections.cpp
src/two_loop_thresholds/gs_corrections.cpp
src/two_loop_thresholds/tau_corrections.cpp
src/two_loop_thresholds/tquark_corrections.cpp
softsusy_nmssmtools.x
doc/anc/*-eps-converted-*
src/supermodel/supermodel/libtsil.a
ver
make.nmssmtools
softsusy-*.tar.gz
src/Himalaya-1.0.0/example
src/Himalaya-1.0.0/libDSZ.a
src/Himalaya-1.0.0/libHimalaya.a
src/Himalaya-1.0.0/CMake*
src/Himalaya-1.0.0/cmake*
