.deps
.dirstamp
.test/.dirstamp
Config
autom4te.cache
config.log
configure
Makefile
anc
doc/*.dvi
doc/*.aux
doc/*.toc
doc/*.log
doc/*.out
doc/*.spl
*.lo
*.x 
*.o
.libs
def.lo
*.la
Makefile.in
config.status
*.*~
gaugeUn.x
libtool
rpvneut.x
rpvsoftsusy.x
softpoint.x
softsusy.x
softsusy-nmssm.x
aclocal.m4
inOutFiles/*utput*
benchmarks/*.spec
doc/*.ps
doc/*.spl
doc/*.out
doc/*.pdf
doc/auto/*

softsusy_nmssmtools.x
