.deps
Config
autom4te.cache
config.log
configure
Makefile
Makefile.am
doc/*.dvi
doc/*.aux
doc/*.toc
doc/*.log
*.lo
*.x 
*.o
.libs
def.lo
*.la
Makefile.in
config.status
*.*~
gaugeUn.x
libtool
rpvneut.x
rpvsoftsusy.x
softpoint.x
softsusy.x
aclocal.m4
neutOutputTest
outputTest
rpvHouchesOutput
rpvOutputTest
slha2Output
benchmarks/*.spec
doc/*.ps
doc/*.spl
doc/*.out
doc/*.pdf
